$breakpoint: (
  'sp': 'screen and (max-width: 599px)',
  'tab': 'screen and (min-width: 600px) and (max-width: 1024px)',
  'pc': 'screen and (min-width: 1025px)'
);

@mixin mq($size: md) {
  @media #{ map-get( $breakpoint, $size ) } {
    @content;
  }
}

@mixin Pcsectitle {
  font-size: 4rem;
  margin-bottom: 80px;
}

@mixin Tabsectitle {
  font-size: 3rem;
  margin-bottom: 80px;
}

@mixin Spsectitle {
  font-size: calc(3rem + 4 * (100vw - 320px) / 379);
  margin-bottom: 54px;
}