$bg: #FFFCF2;
$bl: #000;
$wh: #fff;
$red: #8D1C22;
$gray: #E3E3E3;
$bl-gray: #7E7E7E;
$FontPcText: 1.6rem;
$FontTabText: calc(1.4rem + 4 * (100vw - 600px) / 424);
$FontSpText: calc(1.4rem + 4 * (100vw - 320px) / 379);