@use "../base/reset";
@use "../base/mixin" as m;
@use "../base/variable" as v;
@use "../layout/header" ;
@use "../layout/footer";

html {
  font-size: 62.5%;
}

body {
  @include m.mq('sp') {
    font-family: 'Noto Serif JP', serif;
    background-color: v.$bg;
    font-size: v.$FontSpText;
    line-height: 1.6;
  }
  @include m.mq('tab') {
    font-family: 'Noto Serif JP', serif;
    background-color: v.$bg;
    font-size: v.$FontTabText;
    line-height: 1.6;
  }
  @include m.mq('pc') {
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Serif JP', serif;
    background-color: v.$bg;
    font-size: v.$FontPcText;
    line-height: 1.6;
  }
}

.wrapper {
  @include m.mq('sp') {
    width: 86%;
    margin: 0 auto;
  }
  @include m.mq('tab') {
    width: 80%;
    margin: 0 auto;
  }
  @include m.mq('pc') {
    width: 80%;
    margin: 0 auto;
  }
}

.content {
  @include m.mq('sp') {
  }
  @include m.mq('tab') {
  }
  @include m.mq('pc') {
    width: 80%;
    margin-left: auto;
  }
}

.topbg {
  @include m.mq('sp') {
    background-image: url(../img/news_main_sp.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 100px;
  }
  @include m.mq('tab') {
    background-image: url(../img/news_main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    margin-bottom: 100px;
  }
  @include m.mq('pc') {
    background-image: url(../img/news_main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    margin-bottom: 100px;
  }
}

.news {
  @include m.mq('sp') {
    margin-bottom: 160px;
    &__sectitle {
      text-align: center;
      @include m.Spsectitle;
    }
    .wrapper {
      border-top: 1px solid v.$gray;
      border-bottom: 1px solid v.$gray;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__dl {
      width: 45%;
      padding: 24px 0;
      display: flex;
      flex-wrap: wrap;
    }
    &__box {
    }
    &__dt {
      img {
        width: 100%;
      }
    }
    &__dd {
      width: 100%;
      &-text {
        display: block;
        font-size: calc(1.6rem + 4 * (100vw - 320px) / 379);
        margin-bottom: 16px;
        color: v.$bl;
      }
      &-date {
        display: block;
        font-size: calc(1.6rem + 4 * (100vw - 320px) / 379);
        color: v.$bl-gray;
      }
    }
  }
  @include m.mq('tab') {
    margin-bottom: 160px;
    &__sectitle {
      text-align: center;
      @include m.Spsectitle;
    }
    .wrapper {
      border-top: 1px solid v.$gray;
      border-bottom: 1px solid v.$gray;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__dl {
      width: 45%;
      padding: 32px 0;
      display: flex;
      flex-wrap: wrap;
    }
    &__box {
    }
    &__dt {
      img {
        width: 100%;
      }
    }
    &__dd {
      width: 100%;
      &-text {
        display: block;
        font-size: 1.8rem;
        margin-bottom: 16px;
        color: v.$bl;
      }
      &-date {
        display: block;
        font-size: 1.6rem;
        color: v.$bl-gray;
      }
    }
  }
  @include m.mq('pc') {
    margin-bottom: 160px;
    &__sectitle {
      text-align: center;
      @include m.Spsectitle;
    }
    &__dl {
      border-top: 1px solid v.$gray;
      padding: 32px 0;
      &:last-child {
        border-bottom: 1px solid v.$gray;
      }
    }
    &__box {
      display: flex;
    }
    &__dt {
      img {
        width: 320px;
      }
    }
    &__dd {
      margin-left: 40px;
      &-text {
        display: block;
        font-size: 2rem;
        margin-bottom: 16px;
        color: v.$bl;
      }
      &-date {
        display: block;
        font-size: 1.8rem;
        color: v.$bl-gray;
      }
    }
  }
}