@use "../base/reset";
@use "../base/mixin" as m;
@use "../base/variable" as v;

html {
  font-size: 62.5%;
}

body {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    font-family: 'Noto Serif JP', serif;
    background-color: v.$bg;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  @include m.mq('pc') {
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Serif JP', serif;
    background-color: v.$bg;
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

.wrapper {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    width: 80%;
    margin: 0 auto;
  }
  @include m.mq('pc') {
    width: 1000px;
    margin: 0 auto;
  }
}

.box {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    text-align: center;
  }
  @include m.mq('pc') {
    text-align: center;
  }
  .btn {
    @include m.mq('sp') {
      
    }
    @include m.mq('tab') {
      display: inline-block;
      width: 240px;
      height: 40px;
      line-height: 40px;
      border-radius: 40px;
      background: v.$red;
      color: v.$wh;
    }
    @include m.mq('pc') {
      display: inline-block;
      width: 300px;
      height: 60px;
      line-height: 60px;
      border-radius: 40px;
      background: v.$red;
      color: v.$wh;
    }
  }
}

.header {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: v.$bg;
    &__logo {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      img {
        width: 200px;
      }
    }
    &__hamburger {
      display : block;
      position: fixed;
      z-index : 6;
      left : 0px;
      top   : 0;
      width : 100px;
      height: 100px;
      cursor: pointer;
      text-align: center;
      &-line {
        display : block;
        position: absolute;
        width: 40px;
        height: 3px;
        left: 30px;
        background: v.$red;
        -webkit-transition: 0.1s ease-in-out;
        -moz-transition   : 0.1s ease-in-out;
        transition: .3s ease;
        border-radius: 4px;
        &:nth-child(1) {
          top: 38px;
        }
        &:nth-child(2) {
          top: 50px;
        }
        &:nth-child(3) {
          top: 62px;
        }
      }
      &-line.scroll{
        background: v.$bl;
      }
    }
    &__hamburger.active {
      border: none;
    }
    .active {
      transition: .3s ease;
      .header__hamburger-line {
        border-radius: 4px;
        background-color: v.$red;
        &:nth-child(1) {
          top : 50px;
          left: 30px;
          -webkit-transform: rotate(-45deg);
          -moz-transform   : rotate(-45deg);
          transform        : rotate(-45deg);
        }
        &:nth-child(2),
        &:nth-child(3) {
          top: 50px;
          -webkit-transform: rotate(45deg);
          -moz-transform   : rotate(45deg);
          transform        : rotate(45deg);
        }
      }
    }

    &__inner{
      background-color: v.$wh;
      height: 100vh;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      z-index : 5;
      position: relative;
    }
    &__nav {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__list {
      opacity: 0;
      visibility: hidden;
      color: v.$bl;
      transition: 0.6s ease;
      width: 100%;
      align-items: center;
      margin-bottom: 40px;
      &-item {
        list-style-type: none;
        padding: 24px 0;
        width: 100%;
      }
      &-link {
        color: v.$bl;
        font-size: 2rem;
        position: relative;
        &::after {
          content: "";
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl; 
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          position: absolute;
          top: 10px;
          left: 130%;
          transition: 0.3s ease;
        }
      }
    }
    &__sns {
      opacity: 0;
      visibility: hidden;
      color: v.$bl;
      transition: 0.6s ease;
      width: 100%;
      align-items: center;
      display: flex;
      gap:30px;
      &-item {
        img {
          width: 40px;
          transition: 0.3s ease;
        }
        &:hover {
          img {
            opacity: 0.5;
            transition: 0.3s ease;
          }
        }
      }
    }
    .active {
      opacity: 1;
      visibility: visible;
      transition: 0.6s ease;
    }
  }
  @include m.mq('pc') {
    position: fixed;
    width: 16%;
    padding: 4% 2% 2%;
    height: 100vh;
    background-color: v.$bg;
    &__logo {
      text-align: center;
      img {
        width: 230px;
        margin-bottom: 60px;
      }
    }
    &__list {
      padding-left: 20px;
      &-item {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 60px;
        }
        &:hover {
          .header__list-link {
            color: v.$red;
            &::after {
              border-top: 2px solid v.$red;
              border-right: 2px solid v.$red; 
              left: 150%;
              transition: 0.3s ease;
            }
          }
        }
      }
      &-link {
        color: v.$bl;
        font-size: 2rem;
        position: relative;
        &::after {
          content: "";
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl; 
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          position: absolute;
          top: 10px;
          left: 130%;
          transition: 0.3s ease;
        }
      }
    }
    &__sns {
      display: flex;
      align-items: center;
      gap:30px;
      padding-left: 20px;
      &-item {
        img {
          width: 40px;
          transition: 0.3s ease;
        }
        &:hover {
          img {
            opacity: 0.5;
            transition: 0.3s ease;
          }
        }
      }
    }
  }
}

.content {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    width: 80%;
    margin-left: auto;
  }
}
.topbg {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    background-image: url(/src/img/top_main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 160px;
  }
  @include m.mq('pc') {
    background-image: url(/src/img/top_main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 160px;
  }
}

.concept {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    margin-bottom: 160px;
    &__sectitle {
      text-align: center;
      @include m.Tabsectitle;
    }
    &__imgbox {
      margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
    &__textbox {
      &-text {
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }
  @include m.mq('pc') {
    margin-bottom: 160px;
    &__sectitle {
      text-align: center;
      @include m.Pcsectitle;
    }
    &__imgbox {
      margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
    &__textbox {
      &-text {
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }
}

.menu {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    margin-bottom: 160px;
    &__sectitle {
      text-align: center;
      @include m.Tabsectitle;
    }
    &__list {
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
      &-item {
        width: 33%;
        text-align: center;
        img {
          width: 90%;
        }
      }
    }
  }
  @include m.mq('pc') {
    margin-bottom: 160px;
    &__sectitle {
      text-align: center;
      @include m.Pcsectitle;
    }
    &__list {
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
      &-item {
        width: 33%;
        text-align: center;
        img {
          width: 90%;
        }
      }
    }
  }
}

.bg {
  background-image: url(/src/img/top_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 120px;
  background-attachment: fixed;
  // filter: blur(4px);
}

.news {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    margin-bottom: 160px;
    &__sectitle {
      text-align: center;
      @include m.Pcsectitle;
    }
    &__box {
      background-color: #ECDED2;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      padding: 80px 0;
      margin-bottom: 80px;
      &-item {
        width: 30%;
        img {
          width: 100%;
        }
      }
      &-date {
        display: block;
        color: v.$bl;
        margin: 6px 0;
      }
      &-text {
        display: block;
        color: v.$bl;
        font-size: 1.8rem;
      }
    }
  }
  @include m.mq('pc') {
    margin-bottom: 160px;
    &__sectitle {
      text-align: center;
      @include m.Pcsectitle;
    }
    &__box {
      background-color: #ECDED2;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      padding: 80px 0;
      margin-bottom: 80px;
      &-item {
        width: 30%;
        img {
          width: 100%;
        }
      }
      &-date {
        display: block;
        color: v.$bl;
        margin: 6px 0;
      }
      &-text {
        display: block;
        color: v.$bl;
        font-size: 1.8rem;
      }
    }
  }
}

.access {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    margin-bottom: 80px;
    &__content {
    }
    &__textbox {
      width: 100%;
      margin-bottom: 40px;
    }
    &__list {
      font-size: 2rem
    }
    &__sectitle {
      @include m.Pcsectitle;
      margin-bottom: 40px;
    }
    iframe {
      width: 100%;
      height: 500px;
    }
  }
  @include m.mq('pc') {
    margin-bottom: 160px;
    &__content {
      display: flex;
      align-items: center;
    }
    &__textbox {
      width: 50%;
    }
    &__list {
      font-size: 2rem
    }
    &__sectitle {
      @include m.Pcsectitle;
      margin-bottom: 40px;
    }
    iframe {
      width: 600px;
      height: 300px;
    }
  }
}

.footer {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    background-color: v.$red;
    &__copy {
      text-align: center;
      padding: 10px 0;
      color: v.$wh;
    }
  }
  @include m.mq('pc') {
    background-color: v.$red;
    &__copy {
      text-align: center;
      padding: 10px 0;
      color: v.$wh;
    }
  }
}
