@use "../base/reset";
@use "../base/mixin" as m;
@use "../base/variable" as v;

html {
  font-size: 62.5%;
}

body {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Serif JP', serif;
    background-color: v.$bg;
    font-size: 1.6rem;
  }
}

.wrapper {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    width: 1000px;
    margin: 0 auto;
  }
}

.box {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    text-align: center;
  }
  .btn {
    @include m.mq('sp') {
      
    }
    @include m.mq('tab') {
      
    }
    @include m.mq('pc') {
      display: inline-block;
      width: 300px;
      height: 60px;
      line-height: 60px;
      border-radius: 40px;
      background: v.$red;
      color: v.$wh;
    }
  }
}


.header {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    position: fixed;
    width: 16%;
    padding: 4% 2% 2%;
    height: 100vh;
    background-color: v.$bg;
    &__logo {
      text-align: center;
      img {
        width: 230px;
        margin-bottom: 60px;
      }
    }
    &__list {
      padding-left: 20px;
      &-item {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 60px;
        }
        &:hover {
          .header__list-link {
            color: v.$red;
            &::after {
              border-top: 2px solid v.$red;
              border-right: 2px solid v.$red; 
              left: 150%;
              transition: 0.3s ease;
            }
          }
        }
      }
      &-link {
        color: v.$bl;
        font-size: 2rem;
        position: relative;
        &::after {
          content: "";
          border-top: 2px solid v.$bl;
          border-right: 2px solid v.$bl; 
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          position: absolute;
          top: 10px;
          left: 130%;
          transition: 0.3s ease;
        }
      }
    }
    &__sns {
      display: flex;
      align-items: center;
      gap:30px;
      padding-left: 20px;
      &-item {
        img {
          width: 40px;
          transition: 0.3s ease;
        }
        &:hover {
          img {
            opacity: 0.5;
            transition: 0.3s ease;
          }
        }
      }
    }
  }
}

.content {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    width: 80%;
    margin-left: auto;
  }
}
.topbg {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    background-image: url(/src/img/top_main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 120px;
  }
}

.concept {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    margin-bottom: 120px;
    &__sectitle {
      @include m.PCsectitle;
    }
    &__imgbox {
      margin-bottom: 40px;
      img {
        width: 100%;
      }
    }
    &__textbox {
      &-text {
        text-align: center;
      }
    }
  }
}

.menu {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    margin-bottom: 120px;
    &__sectitle {
      @include m.PCsectitle;
    }
    &__list {
      display: flex;
      justify-content: center;
      margin-bottom: 80px;
      &-item {
        width: 33%;
        text-align: center;
        img {
          width: 90%;
        }
      }
    }
  }
}

.bg {
  background-image: url(/src/img/top_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 120px;
  background-attachment: fixed;
  // filter: blur(4px);
}

.news {
  @include m.mq('sp') {
    
  }
  @include m.mq('tab') {
    
  }
  @include m.mq('pc') {
    margin-bottom: 120px;
    &__sectitle {
      @include m.PCsectitle;
    }
    &__box {
      background-color: #ECDED2;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      padding: 80px 0 120px;
      margin-bottom: 80px;
      &-item {
        width: 33%;
        text-align: center;
        img {
          width: 90%;
        }
      }
    }
  }
}
