doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="")
    meta(name="description", content="バーガーは、本格ハンバーガーショップです。アメリカで修行した店長。店内装飾も雰囲気たっぷりのアメリカンスタイルで、お食事を楽しんでいただけます。是非、ご来店ください。スタッフ一同心よりお待ちしております。")
    link(rel="stylesheet", href="../css/news.css")
    title BURGER | NEWS
  body
    header.header
      .header__logo
        img(src="../img/logo.svg", alt="")
      .header__hamburger
        - for (let x = 0; x < 3; x++)
          span.header__hamburger-line
      .header__inner
        nav.header__nav
          ul.header__list
            - let headerlist = ['TOP', 'CONCEPT', 'MENU', 'NEWS', 'ACCESS']
              each item in headerlist
                li.header__list-item
                  a(href="#" class="header__list-link") #{item}
          ul.header__sns
            - let headersns = ['insta', 'twitter', 'facebook']
              each sns in headersns
                li.header__sns-item
                  a(href="#")
                    img(src=`../img/${sns}.png`, alt="")
    .content
      main
        .topbg
        section.news
          h2.news__sectitle NEWS
          .wrapper
            dl.news__dl
              dt.news__dt
                img(src="../img/top_news_1.jpg", alt="")
              dd.news__dd
                span.news__dd-text テキストテキストテキストテキスト
                span.news__dd-date 2022.08.01
            dl.news__dl
              dt.news__dt
                img(src="../img/top_news_2.jpg", alt="")
              dd.news__dd
                span.news__dd-text テキストテキストテキストテキスト
                span.news__dd-date 2022.08.02
            dl.news__dl
              dt.news__dt
                img(src="../img/top_news_3.jpg", alt="")
              dd.news__dd
                span.news__dd-text テキストテキストテキストテキスト
                span.news__dd-date 2022.08.03
            dl.news__dl
              dt.news__dt
                img(src="../img/top_news_1.jpg", alt="")
              dd.news__dd
                span.news__dd-text テキストテキストテキストテキスト
                span.news__dd-date 2022.08.04
            dl.news__dl
              dt.news__dt
                img(src="../img/top_news_2.jpg", alt="")
              dd.news__dd
                span.news__dd-text テキストテキストテキストテキスト
                span.news__dd-date 2022.08.05
            dl.news__dl
              dt.news__dt
                img(src="../img/top_news_3.jpg", alt="")
              dd.news__dd
                span.news__dd-text テキストテキストテキストテキスト
                span.news__dd-date 2022.08.06
      footer.footer
        <p class="footer__copy">&copy; 2022 BURGER</p>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;700&display=swap" rel="stylesheet">
  script(src="../js/main.js") 
