/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: bottom;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 1025px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: "Noto Serif JP", serif;
    background-color: #FFFCF2;
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1025px) {
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  .box {
    text-align: center;
  }
}
@media screen and (min-width: 1025px) {
  .box .btn {
    display: inline-block;
    width: 300px;
    height: 60px;
    line-height: 60px;
    border-radius: 40px;
    background: #8D1C22;
    color: #fff;
  }
}

@media screen and (min-width: 1025px) {
  .header {
    position: fixed;
    width: 16%;
    padding: 4% 2% 2%;
    height: 100vh;
    background-color: #FFFCF2;
  }
  .header__logo {
    text-align: center;
  }
  .header__logo img {
    width: 230px;
    margin-bottom: 60px;
  }
  .header__list {
    padding-left: 20px;
  }
  .header__list-item {
    margin-bottom: 40px;
  }
  .header__list-item:last-child {
    margin-bottom: 60px;
  }
  .header__list-item:hover .header__list-link {
    color: #8D1C22;
  }
  .header__list-item:hover .header__list-link::after {
    border-top: 2px solid #8D1C22;
    border-right: 2px solid #8D1C22;
    left: 150%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header__list-link {
    color: #000;
    font-size: 2rem;
    position: relative;
  }
  .header__list-link::after {
    content: "";
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 130%;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header__sns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    padding-left: 20px;
  }
  .header__sns-item img {
    width: 40px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .header__sns-item:hover img {
    opacity: 0.5;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}

@media screen and (min-width: 1025px) {
  .content {
    width: 80%;
    margin-left: auto;
  }
}

@media screen and (min-width: 1025px) {
  .topbg {
    background-image: url(/src/img/top_main.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 1025px) {
  .concept {
    margin-bottom: 120px;
  }
  .concept__sectitle {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 80px;
  }
  .concept__imgbox {
    margin-bottom: 40px;
  }
  .concept__imgbox img {
    width: 100%;
  }
  .concept__textbox-text {
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {
  .menu {
    margin-bottom: 120px;
  }
  .menu__sectitle {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 80px;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 80px;
  }
  .menu__list-item {
    width: 33%;
    text-align: center;
  }
  .menu__list-item img {
    width: 90%;
  }
}

.bg {
  background-image: url(/src/img/top_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 120px;
  background-attachment: fixed;
}

@media screen and (min-width: 1025px) {
  .news {
    margin-bottom: 120px;
  }
  .news__sectitle {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 80px;
  }
  .news__box {
    background-color: #ECDED2;
  }
  .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 80px 0 120px;
    margin-bottom: 80px;
  }
  .news__list-item {
    width: 33%;
    text-align: center;
  }
  .news__list-item img {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */